@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant hover (&:hover);


@import "tailwindcss/preflight";
@import "tailwindcss";
@source "../views";



@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme static {
  --color---text: var(--color-text);
}


/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* global color */
body.front-end {
  background-color: white;
}

:root {
  --color-blue: #06519F;
  --color-purple: #321B71;
  --color-lightblue: #1F77D3;
  --color-heading: #1B1B1B;
  --color-text: #797979;
  --color-transit: #f5f5f5;
  --color-darktransit: #E5E5E5;
  --color-transparent: rgba(255, 255, 255, 0.15);
  --color-border: #d6d6d6;
  --color-overlayblack: #151918B8;
  --color-overlaylightblack: #1519187D;
  --color-bordertransparent: #FFFFFF3B;
  --white-transparent: #FFFFFF38;
  --color-black: #151918;
  --color-purple: #321B71;
  --color-gray: #797979;
  --color-white: #FFFFFF;
}


.gradient-black-hero {
  background: #151918;
  background: linear-gradient(180deg, rgba(21, 25, 24, 1) 0%, rgba(0, 0, 0, 0) 60%);
}


.gradient-blue {

  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%) !important;
}

.gradient-white-about {
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40%, rgba(0, 0, 0, 0) 75%);
}

.gradient-white-visi-misi {
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 11%, rgba(0, 0, 0, 0) 65%);
}

.gradient-white-visi-misi-bottom {
  background: #ffffff;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%);
}

.gradient-pengadaan-top {
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 0) 65%);
}

.gradient-overlay-keunggulan {
  background: linear-gradient(180deg,
      rgba(16, 17, 19, 0.5) 0%,
      rgba(16, 17, 19, 0.75) 50%,
      #101113 100%);
}

.gradient-black-half {
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 73%);
}

@media(max-width: 921px) {
  .gradient-white-about {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 52%, rgba(0, 0, 0, 0) 75%);
  }

  .gradient-white-visi-misi {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 17%, rgba(255, 255, 255, 0) 100%);
  }


  .gradient-pengadaan-top {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40%, rgba(0, 0, 0, 0) 75%);
  }

}

@media(max-width: 544px) {
  .gradient-white-about {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 78%, rgba(0, 0, 0, 0) 93%);
  }

  .gradient-pengadaan-top {
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 70%, rgba(0, 0, 0, 0) 75%);
  }


}


/* font */
body {
  font-family: "DM Sans", sans-serif;
}


p {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-text);

}

p.sub-p {
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-heading);
}

h1 {
  font-family: Manrope;
  font-size: 4em;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 76.8px */
  color: var(--color-heading);
}

h2 {
  font-family: Manrope;
  font-size: 3em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--color-heading);

}

h2.footer {
  font-family: Manrope;
  font-size: 4em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
}

h3 {
  font-family: Manrope;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-heading);
}

h4 {
  font-family: Manrope;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-heading);

}

h5 {
  font-family: Manrope;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-heading);
}

h6 {
  font-family: Manrope;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--color-heading);
}

#laporan-tahunan th {
  font-family: Manrope;
}

#laporan-tahunan td {
  font-family: "DM Sans";
}

.manrope {
  font-family: Manrope;
}

.dm-sans {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-text);
}

#whistleblowing-content b {
  color: var(--color-heading) !important;
}

/* font tablet */
@media(max-width:921px) {
  p {
    font-size: 15px;
  }

  p.sub-p {
    font-size: 16px;

  }

  h1 {
    font-family: Manrope;
    font-size: 3.2em;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 76.8px */
    color: var(--color-heading);
  }

  h2 {
    font-family: Manrope;
    font-size: 2.2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--color-heading);

  }

  h2.footer {
    font-family: Manrope;
    font-size: 2.2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: white;
  }

  h3 {
    font-family: Manrope;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--color-heading);
  }

  h4 {
    font-family: Manrope;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--color-heading);

  }

  h5 {
    font-family: Manrope;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--color-heading);
  }

  h6 {
    font-family: Manrope;
    font-size: .9em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-heading);
  }
}

/* font mobile */
@media(max-width:544px) {
  p {
    font-size: 14px;
  }

  p.sub-p {
    font-size: 15px;

  }

  h1 {
    font-family: Manrope;
    font-size: 2.2em;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 76.8px */
    color: var(--color-heading);
  }

  h2 {
    font-family: Manrope;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--color-heading);

  }

  h2.footer {
    font-family: Manrope;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: white;
  }

  h3 {
    font-family: Manrope;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--color-heading);
  }

  h4 {
    font-family: Manrope;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--color-heading);

  }

  h5 {
    font-family: Manrope;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--color-heading);
  }

  h6 {
    font-family: Manrope;
    font-size: .9em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-heading);
  }
}

/* h6 setting */
.bullet-1 {
  display: inline-block;
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  width: fit-content;
}

.bullet-1::before {
  content: "";
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%);
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 10px;
}

.gradient-blue-text {
  display: inline-block;
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  width: fit-content;
}

.bullet-2::before {
  content: "";
  background: white;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 10px;
}


.short-h6::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 40px;
  background: var(--color-blue);
  left: 0px;
  top: 8px;
}

.short-h6 {
  padding-left: 50px;
  position: relative;
}



.long-h6::after {
  content: "";
  display: block;
  height: 1px;
  background: var(--color-blue);
  margin-top: 6px !important;
  flex-grow: 1;
  white-space: nowrap;

}

.long-h6 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  gap: 20px;

}



@media(max-width: 640px) {

  .short-h6::before {
    width: 0px;

  }

  .short-h6 {
    padding-left: 0px;
  }



}


/* Splash Screen */

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease;
}

#logo-image {
  width: 200px;
  height: auto;
  transition: opacity 0.5s ease;
}

#main-content {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .5s ease, transform .5s ease;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}


/* Custom Text Shadow */
.custom-shadow {
  text-shadow: 0px 24px 32px rgba(50, 28, 113, 0.24);
}


/* Custom Button 1 */
.btn1 {
  background: linear-gradient(268deg, var(--color-lightblue) 1.1%, var(--color-blue) 99.1%);
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 10px 12px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 60px;
  transition: background 0.5s ease;
}

.btn1:hover {
  background: linear-gradient(268deg, var(--color-blue) 1.1%, var(--color-lightblue) 99.1%);
}

.btn1.back {
  padding: 10px 20px 10px 10px;
  flex-direction: row-reverse;

}

/* Custom Button 2 */
.btn2 {
  background: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 60px;
  transition: background 0.5s ease;
  border: none;
}

.btn2 img {
  width: 1.2em;
}

.btn2:hover img {
  filter: brightness(0) invert(1);
}

/* Hover effect */
.btn2:hover .gradient-text {
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: white;
  color: white;
}

.btn2:hover .gradient-icon svg path.arrow-path {
  fill: white;
}


/* Custom Button 3 */
.btn3 {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: background 0.5s ease;
  border-top: 1px solid var(--color-border);
}

/* Custom Button 4 */
.btn4 {
  cursor: pointer;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 16px 18px 16px 18px;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: background 0.5s ease;
  background: var(--white-transparent);
  color: white;
}

.btn4 svg {
  width: 16px;
}

.btn4:hover {
  background: white;
}

/* Custom Button 5 */
.btn5 {
  cursor: pointer;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 8px 16px 8px 16px;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: background 0.5s ease;
  border: 1px solid white;
  color: white;
  font-size: .8em;
  fill: white;
}

.btn5:hover {
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%);
  border: 1px solid #000000;
}

/* Custom Button 6 */
.btn6 {
  cursor: pointer;
  font-family: "Manrope";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 8px 16px 8px 16px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.5s ease;
  border: 1px solid var(--color-heading);
  color: var(--color-heading);
  font-size: .8em;
  max-height: 35px;
}

.btn6:hover,
.btn6.active {
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%);
  border: 1px solid white;
  color: white;
}


/* Custom Button 7 */
.btn7 {
  background: var(--color-transit);
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 60px;
  transition: background 0.5s ease;
  border: none;
}

.btn7:hover {
  background: var(--color-lightblue);
}

.btn7:hover .gradient-text {
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: white;
  color: white;
}


.btn8 {
  background: linear-gradient(268deg, var(--color-lightblue) 1.1%, var(--color-blue) 99.1%);
  cursor: pointer;
  color: white;
  text-transform: lowercase;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 60px;
  transition: background 0.5s ease;

}

.btn8:hover {
  background: linear-gradient(268deg, var(--color-blue) 1.1%, var(--color-lightblue) 99.1%);
}


/* Custom Button 9 */
.btn9 {
  color: var(--color-heading);
  cursor: pointer;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 8px 16px 8px 16px;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: background 0.5s ease;
  border: 1px solid var(--color-heading);
  font-size: .8em;
  background: none;
}

.btn9:hover {
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 50%);
  color: white;
  fill: white;
}


/* Custom Button 10 */
.btn10 {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: background 0.5s ease;
}

.btn11 {
  cursor: pointer;
  color: var(--color-heading);
  border: 1px solid var(--color-heading);
  text-transform: uppercase;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 60px;
  transition: background 0.5s ease;
}

.btn11:hover {
  background: linear-gradient(268deg, var(--color-lightblue) 1.1%, var(--color-blue) 99.1%);
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 60px;
  transition: background 0.5s ease;
}

.btn11.active {
  background: linear-gradient(268deg, var(--color-lightblue) 1.1%, var(--color-blue) 99.1%);
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 60px;
  transition: background 0.5s ease;
}



/*  teks di dalam tombol */
.gradient-text {
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gradient-blue-background {
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%);
}


.btn2:hover {
  background: linear-gradient(268deg, var(--color-blue) 1.1%, var(--color-lightblue) 99.1%);
}

.btn2:hover .gradient-text {
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gradient-icon svg path.arrow-path {
  transition: fill 0.3s ease;
}




/* modal  video overlay */
.modal-overlay {
  background: var(--color-overlayblack);
}


/* background switcher */
.swicth-item.active {
  background: #2A74FF8C;
}

.swicth-item p {
  height: 0px;
  opacity: 0;
  transition: .7s ease;
}

.swicth-item.active p {
  height: 160px;
  opacity: 1;
  transition: .7s ease;
}


/* swiper fasilitas */
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none !important;
}

/* swiper profil perusahaan - perjalanan */
#perjalanan .swiper-button-next {
  right: 0 !important;
}

#perjalanan .swiper-wrapper {
  display: flex !important;
  align-items: stretch;
}

#perjalanan .swiper-slide {
  height: auto !important;
  display: flex !important;
  flex-direction: column;
}

.fasilitas-home .swiper {
  margin-right: -200px !important;
}

.fasilitas-home .swiper-wrapper {
  display: flex !important;
  flex-direction: row;
}

.fasilitas-home .swiper-button-prev {
  left: -16px !important;
  top: 175px;
}

.fasilitas-home .swiper-button-next {
  right: -16px !important;
  top: 175px !important;
}

.fasilitas-home .fasilitas-home-item:hover {
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%);
}

.fasilitas-home .fasilitas-home-item:hover * {
  color: white;
}

@media(max-width:544px) {
  .fasilitas-home .swiper {
    margin-right: unset !important;
  }
}

/* swiper tenant */
#tenant-home .swiper {
  margin-right: -400px !important;
}

#tenant-home .swiper-button-prev {
  left: -16px !important;
}

#tenant-home .swiper-button-next {
  right: -12px !important;
}

/* 2  baris teks */
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* rounded radius */
.mini-radius {
  border-radius: 8px;
}

/* map hotspot */
@media(max-width:544px) {
  .map-container {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    max-width: 100vw;
  }

  .map-container img {
    display: inline-block;
    max-width: none;
    width: 800px;
  }

  .map-container>* {
    display: inline-block;
  }

}

/*tippy Hotspot */
.tippy-content {
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%) !important;
  border-radius: 6px;
}

/*Pedoman Tata Kelola*/
#pedoman-tata-kelola>div:nth-child(even) {
  background: var(--color-transit);
}

/* Mengapa KIW Keunggulan */
#mengapa-kiw>div:nth-child(even) {
  background: var(--color-transit);
}

/* keunggulan item - home */
#keunggulan-home .keunggulan-item:last-child {
  border: none;
}

@media (min-width: 545px) {

  /* Mengapa KIW Keunggulan */
  #mengapa-kiw div:nth-child(even)>div {
    flex-direction: row-reverse !important;
    display: flex;
  }


}

/* Gallery Hover */
.gallery-item:hover::before {
  content: "";
  background: #1F77D3;
  background: linear-gradient(0deg, rgba(31, 119, 211, 0.49) 0%, rgba(50, 27, 113, 0.48) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 6px;
  transition: .5s ease;
}

/* Fasilitas Hover */
.fasilitas-item:hover::before {

  background: #1F77D3;
  background: linear-gradient(0deg, rgba(31, 119, 211, 0.49) 0%, rgba(50, 27, 113, 0.48) 100%);

}

.fasilitas-item::before {
  content: "";
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 46%);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 6px;
  transition: .5s ease;
  left: 0;
  bottom: 0;
}


/* counter hero home */
.counter-hero-home .counter-item:last-child {
  border-right: none;
  padding-right: 0;
}

@media(min-width: 544px) {
  .counter-hero-home>div:nth-child(2) {
    border-left: 1px solid var(--color-bordertransparent);

  }
}

/* karier accordion*/
#karier .accordion-item:not(:first-child) .accordion-header {
  padding-top: 50px;
}

@meda(max-width: 921px) {
  #karier .accordion-item:not(:first-child) .accordion-header {
    padding-top: 30px;
  }
}

/* Blink Effect */
@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}

.blinking {
  animation: blink 1s ease-in-out infinite;
}

/* Tender Different color page */
#tender-archive .tender-loop {
  background: var(--color-transit);
}

/* pagination */
.current-page {
  background: linear-gradient(268deg, #1F77D3 1.1%, #321B71 99.1%) !important;
  color: white;
  border: none;
}


/* milestone single tender */
.milestone>div:last-child .border-milestone {
  background: none;
}

.milestone>div:last-child {
  padding-bottom: 0px
}

/* tab sektor home */
@media(max-width: 921px) {
  .header-sektor-wrap .tab-header-sektor:last-child {
    grid-column: span 2;
  }

  .header-sektor-wrap .tab-header-sektor:not(:last-child) {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }
}

/* disable scroll when off canvas mobile open */
body.off-canvas-open {
  overflow: hidden;
}


/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Coming Soon Image */
.coming-soon-image::after {
  content: "";
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

}

/* accessibility */
#INDmenu-btn {
  display: none !important;
}

/* lahan industri animate top down */
@keyframes bounceTopDown {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-top-down {
  position: relative;
  /* tambahkan ini */
  animation: bounceTopDown 0.8s ease-in-out infinite;
  z-index: 99;
}

.animate-top-down::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  /* tidak perlu warna solid */
  width: 7px;
  height: 7px;
  display: block;
  border-radius: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-70%);
  z-index: 9;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  /* bayangan awal */
  animation: shadowPulse .8s infinite ease-in-out;
}


@keyframes shadowPulse {
  0% {
    transform: translateX(-50%) scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    opacity: 1;
  }

  50% {
    transform: translateX(-50%) scale(1.3);
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
  }

  100% {
    transform: translateX(-50%) scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
}

/* KIW accessibility floating button */
body .uwy.userway_p1 .userway_buttons_wrapper {
  top: auto !important;
  bottom: 1.5rem !important;
  left: 1.5rem !important;
  right: auto !important;
  transform: none !important;
}

@media (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }
}


/* laporan tahunan grid */
.overlay-laporan-tahunan-grid {
  position: relative;
  overflow: hidden;
}

.overlay-laporan-tahunan-grid::before {
  content: "";
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.17) 43%, rgba(0, 0, 0, 0.94) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} 

.overlay-laporan-tahunan-grid:hover::before {
  background: linear-gradient(180deg,rgba(31, 119, 211, 0.8) 0%, rgba(50, 27, 113, 0.8) 100%);

}


/* header */
.header-custom {
  position: absolute;
  transform: translateY(0);
}



.header-custom.header-fixed {
  position: fixed;
  background: var(--color-white);
  animation: fadeInBg 0.6s ease forwards;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding-bottom: 18px !important;

}

@keyframes fadeInBg {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 1);
  }
}


.header-custom.header-fixed .logo img {
  filter: none;
}

.header-custom.header-fixed .desktop-header nav > ul > li > a {
  color: var(--color-black) !important;
}

.header-custom.header-fixed .desktop-header nav > ul > li > a:hover {
  color: var(--color-blue) !important;
}

.header-custom.header-fixed .desktop-header nav > ul > li > a.active {
  color: var(--color-blue) !important;
}


.header-custom.header-fixed .desktop-header nav {
  @apply h-9;
}

.header-custom.header-fixed .desktop-header .translate-header a {
  @apply text-[var(--color-black)];
}

.header-custom.header-fixed .desktop-header .above-header {
  @apply hidden;
}

.header-custom.header-fixed .logo img {
  @apply !w-35 !h-full;
}

.header-custom.header-fixed .desktop-header nav > ul > li > ul {
  @apply mt-8;
}


@media (max-width: 921px) {
.header-custom.header-fixed {
  @apply !pb-2 mt-[-2px];
}

.header-custom.header-fixed .logo img {
  @apply !w-[120px] mt-[-10px];
}

}

/* header menu no link */
.header-custom .no-link {
  @apply cursor-default;
}


/* ping hotspot */
.ping-slow {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.ping-fast {
  animation: ping 0.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

/* header logo fixed*/
.header-custom.header-fixed .logo img {
  @apply !h-[55px] object-contain;
}


/* tender text excerpt */
.text-excerpt-tender * {
  @apply line-clamp-3;
}

/* pengadaan terbaru pengadaan barang dan jasa */
#pengadaan-terbaru .tender-loop .con-front,
#pengadaan-terbaru .tender-loop .con-back
{
  @apply bg-white;
}